.blog {
  // background-color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(250, 255, 250, 0.5);
  // border: 2px solid;
  padding: 1rem 0;

  .container {
    .display-6 {
      font-weight: 800;
      letter-spacing: -2px;
    }

    .row {
      .col-md-4 {
        // border: 2px solid;
        display: flex;
        justify-content: space-around;

        // align-items: center;
        .col-md-12 {
          width: 99% !important;
          height: fit-content;
          margin: 0 auto;

          // padding: 0.5rem !important;
          // border: 2px solid red;
          img {
            width: 100%;
            max-width: 100%;

            &:hover {
              opacity: 0.75;
            }
          }

          .blog-date,
          .blog-comment {
            font-size: 0.7rem;
            color: rgba(0, 0, 0, 0.6);
            padding: 0.5rem 0;
            // border: 2px solid;
            margin: 0;

            i {
              // margin-left: 0.5rem;
              // border: 2px solid;
            }
          }

          .blog-comment {
            margin-left: 1rem;
          }

          .blog-title {
            color: rgba(0, 0, 0, 0.9) !important;
            font-weight: 800;
            letter-spacing: -1px;
            margin: 0;
            font-size: 0.8rem;
          }

          .blog-des {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: rgba(0, 0, 0, 0.8);
            margin-top: 0.2rem;
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
