@use "colors.scss";
@import "slideUp.scss";

.featured-products {

  // border: 2px solid;
  .container {
    .display-6 {
      font-size: 1.78rem !important;
      word-spacing: 3px;
      font-family: "Open Sans";
      font-weight: 800;
      letter-spacing: -2px;
    }

    .underline-box {
      width: 6rem;
      height: 0.19rem;
      margin-top: -0.6rem;
    }

    .row {
      margin-top: 2rem;

      .col-md-3 {
        position: relative;

        .col-md-12 {
          .text-md {
            // border: 2px solid;
            font-size: 0.7rem;
            text-align: center;
            line-height: 0.78rem;
            padding-top: 0.5rem;
            margin: 0;
            color: rgba(0, 0, 0, 0.8);
          }

          .price {
            color: rgba(0, 0, 0, 0.95);
            // font-family: "Bebas Neue";
            font-family: "Open Sans";
            font-weight: bold;
            font-size: 0.75rem;
            letter-spacing: 2px;
            text-align: center;
          }

          .product-img {
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }

            .d-flex {
              width: fit-content;
              justify-content: space-around;
              align-items: center;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -10%;
              opacity: 0;

              // border: 2px solid;

              button {
                // border: 2px solid;
                border: 0;
                outline: 0;
                background-color: transparent;
                margin: 0;
                padding: 0;

                i {
                  color: rgba(0, 0, 0, 0.95);
                  padding: 0.5rem;
                  background-color: rgba(255, 255, 255, 0.9);
                  margin: 0 0.3rem;
                  border-radius: 50%;
                  font-size: 0.75rem;
                  color: rgba(0, 0, 0, 0.95);

                  &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    transform: rotate(360deg);
                    cursor: pointer;
                    transition: 0.4s transform ease-in-out;
                    color: $primary;
                  }
                }
              }
            }
          }

          &:hover #showCart {
            opacity: 1;
            cursor: pointer;
            animation: slideUp 0.4s ease forwards;
          }
        }
      }
    }
  }
}
