nav .container .row .col-md-12 .user-items {
  position: relative;
  text-align: center;
}
nav .container .row .col-md-12 .user-items button {
  background-color: transparent;
  outline: 0;
  border: 0;
  position: relative;
  margin: 0.7rem 0;
}
nav .container .row .col-md-12 .user-items button i {
  font-size: 0.7em;
  padding: 0 0.3rem;
  color: rgba(0, 0, 0, 0.9);
}
nav .container .row .col-md-12 .user-items button span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  font-size: 0.45rem;
  background-color: rgb(150, 231, 62);
  border-radius: 50%;
  top: -0.075rem;
  left: 0.75rem;
  color: rgba(0, 0, 0, 0.7);
}
nav .container .row .col-md-12 .user-items p {
  margin: 0.8rem 0.5rem;
  padding: 0.6rem 0;
  font-size: 0.556em;
  color: rgba(0, 0, 0, 0.8);
}
nav .container .row .col-md-12 .user-items p b {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
nav .container .row .col-md-12 .nav-header {
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center !important;
}
nav .container .row .col-md-12 .nav-header .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .row .col-md-12 .nav-header .text a {
  border-right: 2px solid rgb(178, 175, 175);
  color: rgba(0, 0, 0, 0.8);
}
nav .container .row .col-md-12 .nav-header .text p {
  color: rgba(0, 0, 0, 0.8);
  padding: 0 0.5rem;
  margin: 0;
}
nav .container .row .col-md-12 .nav-header .text p .text-uppercase {
  font-weight: 500;
  color: #000;
}
nav .container .row .col-md-12 .nav-header .social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .container .row .col-md-12 .nav-header .social-links a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav .container .row .col-md-12 .nav-header .social-links a i {
  color: rgba(0, 0, 0, 0.9);
  padding: 0.2rem 0.2rem;
  font-size: 0.55rem;
  margin: 0 0.25rem !important;
}
nav .container .row .col-md-12 .nav-header .language {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
nav .container .row .col-md-12 .nav-header .language .img {
  width: 1.5rem;
  height: 0.85rem;
  margin-left: 0.9rem;
  margin-right: 0.3rem;
}
nav .container .row .col-md-12 .nav-header .language select {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  width: fit-content;
  font-size: 0.5rem !important;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 1.5rem;
  padding-left: 0.4rem !important;
}
nav .container .row .col-md-12 .nav-header .language select:focus {
  box-shadow: none !important;
}
nav .container .row .col-md-12 .nav-header .user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .container .row .col-md-12 .nav-header .user a {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 0.55rem !important;
}
nav .container .row .col-md-12 .nav-header .user a i {
  font-size: 0.5rem !important;
  margin-left: 0.5rem !important;
  margin-right: 0.3rem !important;
}
nav .container .row .col-md-12 .nav-links a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7em;
}
nav .container .row .col-md-12 .nav-links .active {
  color: rgb(150, 231, 62);
}

/*# sourceMappingURL=nav.css.map */
